*{
  margin: 0;
  padding: 0;
}


.header{
  min-height: 10vh;
  width: 100%;
  background-image: url(Imagenes/agaete.jpg);
  background-position: center;
  font-size: 50px;
  font-family: "Poppins", serif;
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", serif
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255,255, 255);
  color: black;
}

.topnav a.active {
  background-color: rgb(95, 82, 57);
  color: rgb(141, 111, 55);
}

.dropbtn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
  color: black;
}

.dropdown a.active{
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 160px;
  z-index: 1;
  color: black;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f2f2f2;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: black;}


.buscador{
  float: left;
  background-color: rgb(141, 111, 55);
  min-height: 13vh;
  width: 100%;
  font-size: 40px;
  text-align: left;
  font-family: "Open Sans", serif;
}

.espacio{
  float: left;
  background-color: rgb(0, 0, 0);
  min-height: 5.4vh;
  width: 100%;
}

.galería{
  float: left;
  min-height: 50vh;
  width: 100%;
  background-image: url(Imagenes/agaete3_3.jpg);
  background-position: bottom;

}

.opinion_1{
  float: left;
  background-color: rgb(141, 111, 55);
  min-height: 10vh;
  width: 100%;
  font-size: 25px;
  text-align: left;
  font-family: "Open Sans", serif;
}

.opinion{
  float: left;
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  width: 100%;
  font-size: 20px;
  text-align: left;
  font-family: "Open Sans", serif;
}

.tarjeta{
  float: left;
  min-height: 50vh;
  width: 100%;
  background-image: url(Imagenes/agaete8.jpg);
  background-position: center;
}

.recuadro{
  min-height: 10vh;
  width: 60%;
  background-color: black;
}

.formulario {
  font-size: 20px;
}
